@font-face {
  font-family: Font;
  src: url(./font.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: font;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: Font;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #a79797;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.loader-content {
  width: 40%;
}
.images {
  position: relative;
  height: 550px;
}
.img-holder {
  width: 80%;
  height: 100%;
  position: relative;
  margin: 0 auto;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.img-holder img {
  position: absolute;
  top: 0;
  left: -100%;
}
.text {
  position: relative;
  margin: 1em 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.counter,
.logo p {
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
}
.counter p {
  line-height: 100%;
}
.counter p span,
.logo p span {
  position: relative;
  z-index: -2;
  color: #000000;
}
.logo {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
}
.logo p {
  line-height: 100%;
  white-space: nowrap;
}
.logo p span {
  position: relative;
  top: 200px;
}
.navbar {
  height: 10vh;
  width: 100%;
  padding: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}
.navbar img {
  height: 10vh;
  width: 10vh;
  object-fit: cover;
}
.navbar img:hover {
  transform: scale(1.1);
}
.navbar .elem {
  display: flex;
  gap: 5vw;
}
.navbar .elem a {
  text-decoration: none;
  padding: 5px 15px;
  color: #3a5077;
  font-size: x-large;
  position: relative;
}
.navbar a:before,
.navbar a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: "";
  background: #3a5077;
  transition: all ease 0.3s;
}
.navbar a:before {
  left: 0px;
  top: 0px;
}
.navbar a:after {
  right: 0px;
  bottom: 0px;
}
.navbar a:hover:before,
.navbar a:hover:after {
  opacity: 1 !important;
  height: 2px !important;
  width: 100% !important;
}
.hero {
  width: 100vw;
  height: 100vh;
  /* background-color: #d1cdcd; */
  /* background-color: #ffffff; */
  background-color: #f7f2eb;
}
.spacer {
  padding-top: 12vw;
}
.marquee {
  position: relative;
  color: #3a5077;
  padding: 30px 0;
  font-weight: 600;
  font-size: 120px;
  text-transform: uppercase;
  overflow: hidden;
}
.marquee__inner {
  display: flex;
  flex-direction: row;
  width: fit-content;
  flex: auto;
}
.marquee__part {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 4px;
}
.arrow {
  width: 60px;
  height: 100px;
  margin: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.arrow.active {
  transform: rotate(-180deg);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.para {
  font-size: 3vw;
  position: absolute;
  top: 74%;
  left: 60%;
  font-weight: 700;
  white-space: wrap;
  color: #3a5077;
}
.page2 {
  width: 100%;
  height: 300vh;
  background-color: #fbc4a2;
  overflow-x: hidden;
  position: relative;
  justify-content: center;
}
.page2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page2 h1 {
  width: 100%;
  color: #3a5077;
  font-size: 48vw;
  font-weight: 600;
  text-align: center;
}
.page2 .wrapper {
  position: absolute;
  top: 0;
  width: 400vw;
  height: 100vh;
  will-change: transform;
}
.page2 .card {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
#card-1 {
  top: 50%;
  left: 20%;
}
#card-2 {
  top: 25%; 
  left: 40%;
}
#card-1 {
  top: 45%;
  left: 60%;
}
#card-1 {
  top: 15%;
  left: 80%;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
